@import url(./__container-tag/flex__container-tag.css);
@import url(./__image/flex__image.css);
@import url(./__item-bottom/flex__item-bottom.css);
@import url(./__item-top/flex__item-top.css);
@import url(./__link/flex__link.css);
@import url(./__paragraph-bottom/flex__paragraph-bottom.css);
@import url(./__paragraph-tag/flex__paragraph-tag.css);
@import url(./__paragraph-top/flex__paragraph-top.css);
@import url(./__item-bottom_bg/flex__item-bottom_bg_flowers.css);
@import url(./__item-bottom_bg/flex__item-bottom_bg_cheesecake.css);
@import url(./__container-tag_size/flex__container-tag_size.css);
@import url(./article-hide.css);
@import url(./article-show.css);

.flex {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
  margin-bottom: 104px;
}
