.article__like {
  margin-right: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.article__like:focus {
  border: 3px solid #2E2F22;;
  border-radius: 10px;
}
