.articles__dropdown-list {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  right: 0;
  top: 51px;
  margin: 0;
  display: none;
}

.articles__dropdown-list:hover {
  display: block;
}
