@import url(./__topic/button__topic.css);

.button {
  width: 203px;
  height: 46px;
  background-color: #D7D1C9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

.button::after {
  content: url(../../images/button__icon-down.svg);
  margin-top: 5px;
}
