@import url(./_location/button_location_articles.css);
@import url(./_location/button_location_portfolio.css);
@import url(./_location/button_location_write-me.css);
@import url(./_location/button_location_comments.css);

.button {
  border-radius: 10px;
  width: 224px;
  height: 46px;
  display: block;
  outline: none;
  border: 1px solid #202117;
  box-sizing: border-box;
  cursor: pointer;
  transform: .2s ease;
}

.button:hover {
  transform: scale(1.01);
}

.button:focus {
  border: 3px solid #202117;
}
