@import url(./_location/button_location_articles.css);
@import url(./_location/button_location_portfolio.css);

.button {
  border-radius: 10px;
  width: 224px;
  height: 46px;
  display: block;
  margin: 0 auto;
  outline: none;
}
